{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support-api@ezmax.ca",
      "name": "API Support department",
      "url": "https://www.ezmax.ca/en/contact"
    },
    "description": "This API expose all the functionnalities for the eZmax and eZsign applications.",
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    },
    "termsOfService": "https://www.ezmax.ca/TODO",
    "title": "eZmax API Definition (PowerAutomate)",
    "version": "1.2.0"
  },
  "host": "prod.api.appcluster01.ca-central-1.ezmax.com",
  "basePath": "/rest",
  "schemes": [
    "https"
  ],
  "paths": {
    "/1/object/activesession/getCurrent": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/activesession-getCurrent-v1-Response"
            }
          },
          "350": {
            "description": "The user must authenticate before he can continue with this request"
          },
          "351": {
            "description": "The user is configured with 2FA and needs to validate its phone number before he can continue with this request"
          },
          "352": {
            "description": "The user is configured with 2FA and needs to answer a Secretquestion before he can continue with this request",
            "schema": {
              "$ref": "#/definitions/Common-Response-Redirect-sSecretquestionTextX"
            }
          },
          "353": {
            "description": "The user must accept clauses before he can continue with this request"
          },
          "354": {
            "description": "The user's computer must be validated before he can continue with this request"
          },
          "355": {
            "description": "The user must change its password before he can continue with this request"
          },
          "356": {
            "description": "The user is not running the latest version of the native application. He must valide or update its version before he can continue with this request"
          }
        },
        "description": "Retrieve the details about the current activesession",
        "operationId": "Activesession_GetCurrent_V1",
        "summary": "Get Current Activesession",
        "x-permissions": [
          "All"
        ],
        "x-powerautomate": true,
        "x-presentations": [
          "Ezsign"
        ],
        "x-superadmin": false,
        "x-usertypeextra": [
          "EzsignSigner"
        ]
      }
    },
    "/2/object/ezsignfolder": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ezsignfolder-createObject-v2-Request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ezsignfolder-createObject-v2-Response"
            }
          }
        },
        "description": "The endpoint allows to create one or many elements at once.",
        "operationId": "Ezsignfolder_CreateObject_V2",
        "summary": "Create a new Ezsignfolder",
        "x-permissions": [
          "All"
        ],
        "x-powerautomate": true,
        "x-presentations": [
          "Ezsign"
        ],
        "x-superadmin": false,
        "x-usertypeextra": []
      }
    }
  },
  "definitions": {
    "Common-Format-ExternalID": {
      "description": "This field can be used to store an External ID from the client's system.\n\nAnything can be stored in this field, it will never be evaluated by the eZmax system and will be returned\nAS-IS.\n\nTo store multiple values, consider using a JSON formatted structure, a URL encoded string, a CSV or any other custom format.\n",
      "example": "{\"ID\": 1234, \"TAGS\": [\"tag1\", \"tag2\", \"tag3\"]}",
      "pattern": "^.{0,64}$",
      "type": "string"
    },
    "Common-Response-Error": {
      "description": "Generic Error Message",
      "properties": {
        "eErrorCode": {
          "$ref": "#/definitions/Field-eErrorCode"
        },
        "sErrorMessage": {
          "$ref": "#/definitions/Field-sErrorMessage"
        }
      },
      "required": [
        "sErrorMessage",
        "eErrorCode"
      ],
      "type": "object"
    },
    "Common-Response-Error-EzsignformValidation": {
      "description": "Generic Error Message",
      "properties": {
        "a_objEzsignformfielderror": {
          "description": "",
          "items": {
            "$ref": "#/definitions/Custom-Ezsignformfielderror-Response"
          },
          "type": "array"
        },
        "eErrorCode": {
          "$ref": "#/definitions/Field-eErrorCode"
        },
        "sErrorMessage": {
          "$ref": "#/definitions/Field-sErrorMessage"
        }
      },
      "required": [
        "a_objEzsignformfielderror",
        "sErrorMessage",
        "eErrorCode"
      ],
      "type": "object"
    },
    "Common-Response-Error-TooManyRequests": {
      "description": "Generic Error Message",
      "properties": {
        "eErrorCode": {
          "$ref": "#/definitions/Field-eErrorCode"
        },
        "sErrorMessage": {
          "$ref": "#/definitions/Field-sErrorMessage"
        }
      },
      "required": [
        "sErrorMessage",
        "eErrorCode"
      ],
      "type": "object"
    },
    "Common-Response-Error-sTemporaryFileUrl": {
      "description": "Generic Error Message",
      "properties": {
        "eErrorCode": {
          "$ref": "#/definitions/Field-eErrorCode"
        },
        "sErrorMessage": {
          "$ref": "#/definitions/Field-sErrorMessage"
        },
        "sTemporaryFileUrl": {
          "description": "The Temporary File Url of the document that was uploaded. That url can be reused instead of uploading the file again.",
          "example": "http://www.example.com/document.pdf",
          "type": "string"
        }
      },
      "required": [
        "sErrorMessage",
        "eErrorCode"
      ],
      "type": "object"
    },
    "Common-Response-Redirect-sSecretquestionTextX": {
      "description": "352 Redirect Message containing secret question",
      "properties": {
        "sSecretquestionTextX": {
          "$ref": "#/definitions/Field-sSecretquestionTextX"
        }
      },
      "required": [
        "sSecretquestionTextX"
      ],
      "type": "object"
    },
    "Common-Response-objDebug": {
      "description": "This is a generic debug object that is returned by all API requests",
      "example": {
        "a_objSQLQuery": [
          {
            "fDuration": 0.0001,
            "sQuery": "SELECT * FROM table"
          },
          {
            "fDuration": 0.0001,
            "sQuery": "SELECT * FROM table"
          }
        ],
        "iSQLQueries": 6,
        "iSQLSelects": 3,
        "sMemoryUsage": "11,923MB",
        "sRunTime": "0.6084s"
      },
      "properties": {
        "a_objSQLQuery": {
          "description": "An array of the SQL Queries that were executed during the API request execution",
          "items": {
            "$ref": "#/definitions/Common-Response-objSQLQuery"
          },
          "type": "array"
        },
        "iSQLQueries": {
          "description": "The number of SQL INSERT/UPDATE/DELETE queries that were sent to the database server during the API request execution",
          "type": "integer"
        },
        "iSQLSelects": {
          "description": "The number of SQL SELECT queries that were sent to the database server during the API request execution",
          "type": "integer"
        },
        "sMemoryUsage": {
          "description": "The peak memory allocated during the API request execution. Formatted as a human readable string",
          "type": "string"
        },
        "sRunTime": {
          "description": "The total server execution time of the API request execution. Formatted as a human readable string",
          "type": "string"
        }
      },
      "required": [
        "a_objSQLQuery",
        "iSQLQueries",
        "iSQLSelects",
        "sMemoryUsage",
        "sRunTime"
      ],
      "type": "object"
    },
    "Common-Response-objDebugPayload": {
      "description": "This is a debug object containing debugging information on the actual function",
      "properties": {
        "a_RequiredPermission": {
          "description": "An array of permissions required to access this function.\n\nIf the value \"0\" is present in the array, anyone can call this function.\n\nYou must have one of the permission to access the function. You don't need to have all of them.",
          "items": {
            "example": 117,
            "type": "integer"
          },
          "type": "array"
        },
        "bVersionDeprecated": {
          "description": "Wheter the current route is deprecated or not",
          "example": false,
          "type": "boolean"
        },
        "iVersionMax": {
          "description": "The maximum version of the function that can be called",
          "example": 2,
          "type": "integer"
        },
        "iVersionMin": {
          "description": "The minimum version of the function that can be called",
          "example": 1,
          "type": "integer"
        }
      },
      "required": [
        "a_RequiredPermission",
        "iVersionMax",
        "iVersionMin",
        "bVersionDeprecated"
      ],
      "type": "object"
    },
    "Common-Response-objSQLQuery": {
      "description": "Definition of objSQLQuery Object",
      "example": {
        "fDuration": 0.0001,
        "sQuery": "SELECT * FROM table"
      },
      "properties": {
        "fDuration": {
          "description": "Execution time of the SQL Query in seconds",
          "format": "float",
          "type": "number"
        },
        "sQuery": {
          "description": "The SQL Query",
          "type": "string"
        }
      },
      "required": [
        "fDuration",
        "sQuery"
      ],
      "type": "object"
    },
    "Computed-sAvatarUrl": {
      "description": "The url of the picture used as avatar",
      "example": "http://www.website.com/avatar.jpg",
      "type": "string"
    },
    "Custom-Ezsignformfielderror-Response": {
      "description": "A Custom Ezsignformfield Object to contain an error list",
      "properties": {
        "a_objEzsignformfielderrortest": {
          "description": "",
          "items": {
            "$ref": "#/definitions/Custom-Ezsignformfielderrortest-Response"
          },
          "type": "array"
        },
        "sEzsignformfieldLabel": {
          "$ref": "#/definitions/Field-sEzsignformfieldLabel"
        }
      },
      "required": [
        "sEzsignformfieldLabel",
        "a_objEzsignformfielderrortest"
      ],
      "type": "object"
    },
    "Custom-Ezsignformfielderrortest-Response": {
      "description": "A Custom Ezsignformfielderrortest Object to contain the detail of the test error",
      "properties": {
        "sEzsignformfielderrortestDetail": {
          "description": "The detail why the test failed",
          "pattern": "^.{0,255}$",
          "type": "string"
        },
        "sEzsignformfielderrortestName": {
          "description": "The name of the test",
          "pattern": "^.{0,50}$",
          "type": "string"
        }
      },
      "required": [
        "sEzsignformfielderrortestName",
        "sEzsignformfielderrortestDetail"
      ],
      "type": "object"
    },
    "Field-bActivesessionDebug": {
      "description": "Whether the active session is in debug or not",
      "example": false,
      "type": "boolean"
    },
    "Field-bActivesessionIssuperadmin": {
      "description": "Whether the active session is superadmin or not",
      "example": false,
      "type": "boolean"
    },
    "Field-bUserInterfacedark": {
      "description": "Whether to use a dark mode interface",
      "example": false,
      "type": "boolean"
    },
    "Field-eActivesessionOrigin": {
      "description": "The Origin of User for the Activesession",
      "enum": [
        "BuiltIn",
        "External"
      ],
      "example": "BuiltIn",
      "type": "string"
    },
    "Field-eActivesessionUsertype": {
      "description": "The Type of User for the Activesession",
      "enum": [
        "AgentBroker",
        "Assistant",
        "EzsignSigner",
        "EzsignUser",
        "Normal"
      ],
      "example": "Normal",
      "type": "string"
    },
    "Field-eActivesessionWeekdaystart": {
      "description": "The weekday start of the User.",
      "enum": [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      "example": "Sunday",
      "type": "string"
    },
    "Field-eErrorCode": {
      "description": "The error code. See documentation for valid values",
      "enum": [
        "BADREQUEST",
        "BADREQUEST_CLOCKSKEW",
        "UNAUTHORIZED_BADAUTH",
        "UNAUTHORIZED_BADMFA",
        "UNAUTHORIZED_EXPIRED",
        "UNAUTHORIZED_REQUEST",
        "FORBIDDEN",
        "FORBIDDEN_CONFIGURATION",
        "FORBIDDEN_MODULE",
        "FORBIDDEN_NOACCESS",
        "FORBIDDEN_PERMISSION",
        "FORBIDDEN_SUBSCRIPTION",
        "FORBIDDEN_USERTYPE",
        "FORBIDDEN_USER_ORIGIN_EXTERNAL",
        "NOTFOUND",
        "NOTFOUND_OBJECT",
        "NOTFOUND_ROUTE",
        "METHODNOTALLOWED",
        "NOTACCEPTABLE_CONTENT",
        "NOTACCEPTABLE_LANGUAGE",
        "UNPROCESSABLEENTITY_ACTIVESESSION_ALREADY_CLONING",
        "UNPROCESSABLEENTITY_CANNOTDELETE",
        "UNPROCESSABLEENTITY_CANNOTMODIFY",
        "UNPROCESSABLEENTITY_CHANGEPASSWORD_INVALID_CURRENT",
        "UNPROCESSABLEENTITY_CHANGEPASSWORD_SAME",
        "UNPROCESSABLEENTITY_DATA_MISSING",
        "UNPROCESSABLEENTITY_DATA_UNIQUE",
        "UNPROCESSABLEENTITY_DATA_VALIDATION",
        "UNPROCESSABLEENTITY_DATA_OUTOFBOUND",
        "UNPROCESSABLEENTITY_DOWNLOAD_ERROR",
        "UNPROCESSABLEENTITY_EZSIGNFORM_VALIDATION",
        "UNPROCESSABLEENTITY_EZSIGNSIGNERCONNECTED",
        "UNPROCESSABLEENTITY_NOTHINGTODO",
        "UNPROCESSABLEENTITY_NOTREADY",
        "UNPROCESSABLEENTITY_PDF_FORM",
        "UNPROCESSABLEENTITY_PDF_SIGNATURE",
        "UNPROCESSABLEENTITY_PDF_FORM_AND_SIGNATURE",
        "UNPROCESSABLEENTITY_PDF_INCOMPATIBLE",
        "UNPROCESSABLEENTITY_PDF_PASSWORD",
        "UNPROCESSABLEENTITY_PDF_WRONG_PASSWORD",
        "UNPROCESSABLEENTITY_PDF_REPAIRABLE",
        "UNPROCESSABLEENTITY_PDF_XFA",
        "UNPROCESSABLEENTITY_TEMPLATE_MISMATCH",
        "UNPROCESSABLEENTITY_UNMODIFIABLE_FIELD",
        "UNPROCESSABLEENTITY_USER_STAGED",
        "TOOMANYREQUESTS",
        "TOOMANYREQUESTS_THIRDPARTY",
        "ERROR_INTERNAL",
        "ERROR_CONFIGURATION",
        "ERROR_NOTIMPLEMENTED"
      ],
      "example": "BADREQUEST",
      "type": "string"
    },
    "Field-eEzsignfolderSendreminderfrequency": {
      "description": "Frequency at which reminders will be sent to signers that haven't signed the documents",
      "enum": [
        "None",
        "Daily",
        "Weekly"
      ],
      "example": "None",
      "type": "string"
    },
    "Field-eModuleInternalname": {
      "description": "The Internal name of the Module.\n\nThis is theoretically an enum field but there are so many possibles values we decided not to list them all.",
      "example": "Purchases",
      "type": "string"
    },
    "Field-eUserEzsignsendreminderfrequency": {
      "description": "Frequency at which reminders will be sent to signers that haven't signed the documents",
      "enum": [
        "None",
        "Daily",
        "Weekly"
      ],
      "example": "None",
      "type": "string"
    },
    "Field-iUserInterfacecolor": {
      "description": "The int32 representation of the interface color. For example, RGB color #39435B would be 3752795",
      "example": 3752795,
      "format": "int32",
      "minimum": 0,
      "type": "integer"
    },
    "Field-iUserListresult": {
      "description": "The number of rows to return by default in lists",
      "example": 25,
      "maximum": 500,
      "minimum": 5,
      "type": "integer"
    },
    "Field-pkiApikeyID": {
      "description": "The unique ID of the Apikey",
      "example": 99,
      "minimum": 0,
      "type": "integer"
    },
    "Field-pkiEzsignfolderID": {
      "description": "The unique ID of the Ezsignfolder",
      "example": 33,
      "minimum": 0,
      "type": "integer"
    },
    "Field-pkiEzsignfoldertypeID": {
      "description": "The unique ID of the Ezsignfoldertype.",
      "example": 5,
      "minimum": 0,
      "type": "integer"
    },
    "Field-pkiEzsigntsarequirementID": {
      "description": "The unique ID of the Ezsigntsarequirement.\n\nDetermine if a Time Stamping Authority should add a timestamp on each of the signature.\nValid values:\n\n|Value|Description|\n|-|-|\n|1|No. TSA Timestamping will requested. This will make all signatures a lot faster since no round-trip to the TSA server will be required. Timestamping will be made using eZsign server's time.|\n|2|Best effort. Timestamping from a Time Stamping Authority will be requested but is not mandatory. In the very improbable case it cannot be completed, the timestamping will be made using eZsign server's time. **Additional fee applies**|\n|3|Mandatory. Timestamping from a Time Stamping Authority will be requested and is mandatory. In the very improbable case it cannot be completed, the signature will fail and the user will be asked to retry. **Additional fee applies**|",
      "example": 1,
      "maximum": 3,
      "minimum": 1,
      "type": "integer"
    },
    "Field-pkiLanguageID": {
      "description": "The unique ID of the Language.\n\nValid values:\n\n|Value|Description|\n|-|-|\n|1|French|\n|2|English|",
      "example": 2,
      "maximum": 2,
      "minimum": 1,
      "type": "integer"
    },
    "Field-pkiModulesectionID": {
      "description": "The unique ID of the Modulesection",
      "example": 53,
      "minimum": 0,
      "type": "integer"
    },
    "Field-pkiSignatureID": {
      "description": "The unique ID of the Signature",
      "example": 12,
      "maximum": 16777215,
      "minimum": 0,
      "type": "integer"
    },
    "Field-pkiSystemconfigurationtypeID": {
      "description": "The unique ID of the Systemconfigurationtype",
      "example": 28,
      "minimum": 1,
      "type": "integer"
    },
    "Field-pkiTimezoneID": {
      "description": "The unique ID of the Timezone",
      "example": 247,
      "minimum": 0,
      "type": "integer"
    },
    "Field-pkiUserID": {
      "description": "The unique ID of the User",
      "example": 70,
      "minimum": 0,
      "type": "integer"
    },
    "Field-pksCustomerCode": {
      "description": "The customer code assigned to your account",
      "example": "demo",
      "maxLength": 6,
      "minLength": 2,
      "type": "string"
    },
    "Field-sApikeyDescriptionX": {
      "description": "The description of the Apikey in the language of the requester",
      "example": "Project X",
      "type": "string"
    },
    "Field-sCompanyNameX": {
      "description": "The Name of the Company in the language of the requester",
      "example": "Acme inc.",
      "type": "string"
    },
    "Field-sDepartmentNameX": {
      "description": "The Name of the Department in the language of the requester",
      "example": "Head Office",
      "type": "string"
    },
    "Field-sEmailAddress": {
      "description": "The email address.",
      "example": "email@example.com",
      "type": "string"
    },
    "Field-sErrorMessage": {
      "description": "The message giving details about the error",
      "example": "Invalid Signature Headers",
      "pattern": "^.{0,500}$",
      "type": "string"
    },
    "Field-sEzsignfolderDescription": {
      "description": "The description of the Ezsignfolder",
      "example": "Test eZsign Folder",
      "type": "string"
    },
    "Field-sEzsignformfieldLabel": {
      "description": "The Label for the Ezsignformfield",
      "example": "Peanuts",
      "type": "string"
    },
    "Field-sSecretquestionTextX": {
      "description": "The text of the Secretquestion in the language of the requester",
      "example": "The name of the hospital in which you were born",
      "type": "string"
    },
    "Field-sUserFirstname": {
      "description": "The first name of the user",
      "example": "John",
      "type": "string"
    },
    "Field-sUserLastname": {
      "description": "The last name of the user",
      "example": "Doe",
      "type": "string"
    },
    "Field-tEzsignfolderNote": {
      "description": "Note about the Ezsignfolder",
      "example": "This is a note",
      "type": "string"
    },
    "activesession-ResponseCompound-Apikey": {
      "description": "An Activesession->Apikey object and children to create a complete structure",
      "properties": {
        "pkiApikeyID": {
          "$ref": "#/definitions/Field-pkiApikeyID"
        },
        "sApikeyDescriptionX": {
          "$ref": "#/definitions/Field-sApikeyDescriptionX"
        }
      },
      "required": [
        "pkiApikeyID",
        "sApikeyDescriptionX"
      ],
      "type": "object"
    },
    "activesession-ResponseCompound-User": {
      "description": "An Activesession->User Object and children to create a complete structure",
      "properties": {
        "bUserInterfacedark": {
          "$ref": "#/definitions/Field-bUserInterfacedark"
        },
        "eUserEzsignsendreminderfrequency": {
          "$ref": "#/definitions/Field-eUserEzsignsendreminderfrequency"
        },
        "fkiTimezoneID": {
          "$ref": "#/definitions/Field-pkiTimezoneID"
        },
        "iUserInterfacecolor": {
          "$ref": "#/definitions/Field-iUserInterfacecolor"
        },
        "iUserListresult": {
          "$ref": "#/definitions/Field-iUserListresult"
        },
        "pkiUserID": {
          "$ref": "#/definitions/Field-pkiUserID"
        },
        "sAvatarUrl": {
          "$ref": "#/definitions/Computed-sAvatarUrl"
        },
        "sEmailAddress": {
          "$ref": "#/definitions/Field-sEmailAddress"
        },
        "sUserFirstname": {
          "$ref": "#/definitions/Field-sUserFirstname"
        },
        "sUserLastname": {
          "$ref": "#/definitions/Field-sUserLastname"
        }
      },
      "required": [
        "pkiUserID",
        "fkiTimezoneID",
        "sUserFirstname",
        "sUserLastname",
        "sEmailAddress",
        "sAvatarUrl",
        "eUserEzsignsendreminderfrequency",
        "iUserInterfacecolor",
        "bUserInterfacedark",
        "iUserListresult"
      ],
      "type": "object"
    },
    "activesession-getCurrent-v1-Response": {
      "description": "Response for GET /1/object/activesession/getCurrent",
      "properties": {
        "mPayload": {
          "$ref": "#/definitions/activesession-getCurrent-v1-Response-mPayload"
        },
        "objDebug": {
          "$ref": "#/definitions/Common-Response-objDebug"
        },
        "objDebugPayload": {
          "$ref": "#/definitions/Common-Response-objDebugPayload"
        }
      },
      "required": [
        "mPayload",
        "objDebugPayload"
      ],
      "type": "object"
    },
    "activesession-getCurrent-v1-Response-mPayload": {
      "description": "Payload for GET /1/object/activesession/getCurrent",
      "properties": {
        "a_eModuleInternalname": {
          "description": "An Array of Registered modules.\n\nThese are the modules that are Licensed to be used by the User or the API Key.",
          "items": {
            "$ref": "#/definitions/Field-eModuleInternalname"
          },
          "type": "array"
        },
        "a_pkiPermissionID": {
          "description": "An array of permissions granted to the user or api key",
          "items": {
            "$ref": "#/definitions/Field-pkiModulesectionID"
          },
          "type": "array"
        },
        "bActivesessionDebug": {
          "$ref": "#/definitions/Field-bActivesessionDebug"
        },
        "bActivesessionIssuperadmin": {
          "$ref": "#/definitions/Field-bActivesessionIssuperadmin"
        },
        "eActivesessionOrigin": {
          "$ref": "#/definitions/Field-eActivesessionOrigin"
        },
        "eActivesessionUsertype": {
          "$ref": "#/definitions/Field-eActivesessionUsertype"
        },
        "eActivesessionWeekdaystart": {
          "$ref": "#/definitions/Field-eActivesessionWeekdaystart"
        },
        "fkiLanguageID": {
          "$ref": "#/definitions/Field-pkiLanguageID"
        },
        "fkiSignatureID": {
          "$ref": "#/definitions/Field-pkiSignatureID"
        },
        "fkiSystemconfigurationtypeID": {
          "$ref": "#/definitions/Field-pkiSystemconfigurationtypeID"
        },
        "objApikey": {
          "$ref": "#/definitions/activesession-ResponseCompound-Apikey"
        },
        "objUserCloned": {
          "$ref": "#/definitions/activesession-ResponseCompound-User"
        },
        "objUserReal": {
          "$ref": "#/definitions/activesession-ResponseCompound-User"
        },
        "pksCustomerCode": {
          "$ref": "#/definitions/Field-pksCustomerCode"
        },
        "sCompanyNameX": {
          "$ref": "#/definitions/Field-sCompanyNameX"
        },
        "sDepartmentNameX": {
          "$ref": "#/definitions/Field-sDepartmentNameX"
        }
      },
      "required": [
        "eActivesessionUsertype",
        "eActivesessionOrigin",
        "eActivesessionWeekdaystart",
        "bActivesessionDebug",
        "bActivesessionIssuperadmin",
        "fkiLanguageID",
        "sCompanyNameX",
        "pksCustomerCode",
        "sDepartmentNameX",
        "fkiSystemconfigurationtypeID",
        "a_eModuleInternalname",
        "objUserReal",
        "a_pkiPermissionID"
      ],
      "type": "object"
    },
    "ezsignfolder-RequestCompound": {
      "description": "An Ezsignfolder Object and children to create a complete structure",
      "properties": {
        "eEzsignfolderSendreminderfrequency": {
          "$ref": "#/definitions/Field-eEzsignfolderSendreminderfrequency"
        },
        "fkiEzsignfoldertypeID": {
          "$ref": "#/definitions/Field-pkiEzsignfoldertypeID"
        },
        "fkiEzsigntsarequirementID": {
          "$ref": "#/definitions/Field-pkiEzsigntsarequirementID"
        },
        "pkiEzsignfolderID": {
          "$ref": "#/definitions/Field-pkiEzsignfolderID"
        },
        "sEzsignfolderDescription": {
          "$ref": "#/definitions/Field-sEzsignfolderDescription"
        },
        "sEzsignfolderExternalid": {
          "$ref": "#/definitions/Common-Format-ExternalID"
        },
        "tEzsignfolderNote": {
          "$ref": "#/definitions/Field-tEzsignfolderNote"
        }
      },
      "required": [
        "fkiEzsignfoldertypeID",
        "sEzsignfolderDescription",
        "tEzsignfolderNote",
        "eEzsignfolderSendreminderfrequency"
      ],
      "type": "object"
    },
    "ezsignfolder-createObject-v2-Request": {
      "description": "Request for POST /2/object/ezsignfolder",
      "properties": {
        "a_objEzsignfolder": {
          "items": {
            "$ref": "#/definitions/ezsignfolder-RequestCompound"
          },
          "minItems": 1,
          "type": "array"
        }
      },
      "required": [
        "a_objEzsignfolder"
      ],
      "type": "object"
    },
    "ezsignfolder-createObject-v2-Response": {
      "description": "Response for POST /2/object/ezsignfolder",
      "properties": {
        "mPayload": {
          "$ref": "#/definitions/ezsignfolder-createObject-v2-Response-mPayload"
        },
        "objDebug": {
          "$ref": "#/definitions/Common-Response-objDebug"
        },
        "objDebugPayload": {
          "$ref": "#/definitions/Common-Response-objDebugPayload"
        }
      },
      "required": [
        "mPayload",
        "objDebugPayload"
      ],
      "type": "object"
    },
    "ezsignfolder-createObject-v2-Response-mPayload": {
      "description": "Payload for POST /2/object/ezsignfolder",
      "properties": {
        "a_pkiEzsignfolderID": {
          "description": "An array of unique IDs representing the object that were requested to be created.\n\nThey are returned in the same order as the array containing the objects to be created that was sent in the request.",
          "items": {
            "$ref": "#/definitions/Field-pkiEzsignfolderID"
          },
          "minItems": 1,
          "type": "array"
        }
      },
      "required": [
        "a_pkiEzsignfolderID"
      ],
      "type": "object"
    }
  },
  "securityDefinitions": {
    "API Key": {
      "description": "This is the normal Authorization scheme where the apiKey is sent in the Authorization http header",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "x-components": {
    "parameters": {},
    "responses": {
      "Response-Redirect-350": {
        "description": "The user must authenticate before he can continue with this request"
      },
      "Response-Redirect-351": {
        "description": "The user is configured with 2FA and needs to validate its phone number before he can continue with this request"
      },
      "Response-Redirect-352": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/definitions/Common-Response-Redirect-sSecretquestionTextX"
            }
          }
        },
        "description": "The user is configured with 2FA and needs to answer a Secretquestion before he can continue with this request"
      },
      "Response-Redirect-353": {
        "description": "The user must accept clauses before he can continue with this request"
      },
      "Response-Redirect-354": {
        "description": "The user's computer must be validated before he can continue with this request"
      },
      "Response-Redirect-355": {
        "description": "The user must change its password before he can continue with this request"
      },
      "Response-Redirect-356": {
        "description": "The user is not running the latest version of the native application. He must valide or update its version before he can continue with this request"
      }
    },
    "examples": {
      "PdfAsBase64": {
        "summary": "A BASE64 encoded PDF",
        "value": "JVBERi0xLjENCiXCpcKxw6sNCg0KMSAwIG9iag0KICA8PCAvVHlwZSAvQ2F0YWxvZw0KICAgICAvUGFnZXMgMiAwIFINCiAgPj4NCmVuZG9iag0KDQoyIDAgb2JqDQogIDw8IC9UeXBlIC9QYWdlcw0KICAgICAvS2lkcyBbMyAwIFJdDQogICAgIC9Db3VudCAxDQogICAgIC9NZWRpYUJveCBbMCAwIDMwMCAxNDRdDQogID4+DQplbmRvYmoNCg0KMyAwIG9iag0KICA8PCAgL1R5cGUgL1BhZ2UNCiAgICAgIC9QYXJlbnQgMiAwIFINCiAgICAgIC9SZXNvdXJjZXMNCiAgICAgICA8PCAvRm9udA0KICAgICAgICAgICA8PCAvRjENCiAgICAgICAgICAgICAgIDw8IC9UeXBlIC9Gb250DQogICAgICAgICAgICAgICAgICAvU3VidHlwZSAvVHlwZTENCiAgICAgICAgICAgICAgICAgIC9CYXNlRm9udCAvVGltZXMtUm9tYW4NCiAgICAgICAgICAgICAgID4+DQogICAgICAgICAgID4+DQogICAgICAgPj4NCiAgICAgIC9Db250ZW50cyA0IDAgUg0KICA+Pg0KZW5kb2JqDQoNCjQgMCBvYmoNCiAgPDwgL0xlbmd0aCA1NSA+Pg0Kc3RyZWFtDQogIEJUDQogICAgL0YxIDE4IFRmDQogICAgMCAwIFRkDQogICAgKEhlbGxvIFdvcmxkKSBUag0KICBFVA0KZW5kc3RyZWFtDQplbmRvYmoNCg0KeHJlZg0KMCA1DQowMDAwMDAwMDAwIDY1NTM1IGYgDQowMDAwMDAwMDE4IDAwMDAwIG4gDQowMDAwMDAwMDc3IDAwMDAwIG4gDQowMDAwMDAwMTc4IDAwMDAwIG4gDQowMDAwMDAwNDU3IDAwMDAwIG4gDQp0cmFpbGVyDQogIDw8ICAvUm9vdCAxIDAgUg0KICAgICAgL1NpemUgNQ0KICA+Pg0Kc3RhcnR4cmVmDQo1NjUNCiUlRU9G"
      },
      "PngAsBase64": {
        "summary": "A BASE64 encoded PNG",
        "value": "iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAY0lEQVR42u3QAREAAAQEMJKL/nI4W4R1JVOPtQABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIEHDfArMdn4FHyLy9AAAAAElFTkSuQmCC"
      },
      "Svg": {
        "summary": "A Svg file",
        "value": "<svg version=\"1.1\" id=\"Layer_2\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0px\" y=\"0px\" \t viewBox=\"0 0 175 75\" enable-background=\"new 0 0 175 75\" xml:space=\"preserve\"> <path fill=\"#FFFFFF\" d=\"M51,47.4c-0.8,1.6-1.7,3.1-2.8,4.5H31.9l15-17.6H36.7c-1.2,0-2.2-1-2.2-2.2s1-2.2,2.2-2.2l0,0h15 \tc0.5,1.4,0.9,2.9,1.1,4.4L41.6,47.4H51z M32,48.6c-2.2,2.2-5.1,3.3-8,3.3s-5.8-1.1-8-3.3c-4.4-4.4-4.4-11.6,0-16s11.6-4.4,16,0 \tc2.1,2.1,3.3,5,3.3,8v2.3l-17.8-0.2c0.3,1,0.9,1.9,1.7,2.7c2.7,2.7,7,2.7,9.7,0c0.9-0.9,2.3-0.9,3.2,0C32.9,46.3,32.9,47.7,32,48.6z \t M17.6,38.2l12.9,0.1c-0.3-1-0.9-1.8-1.6-2.6c-2.7-2.7-7-2.7-9.7,0C18.5,36.5,18,37.3,17.6,38.2z\"/> <path fill=\"#D12A2F\" d=\"M46.9,34.3H36.7c-1.2,0-2.2-1-2.2-2.2s1-2.2,2.2-2.2l0,0h15C48.5,21,40,14.7,30.1,14.7 \tc-12.7,0-23,10.3-23,23s10.3,23,23,23c7.3,0,13.8-3.4,18-8.7H31.8L46.9,34.3z M24,51.9c-2.9,0-5.8-1.1-8-3.3c-4.4-4.4-4.4-11.6,0-16 \ts11.6-4.4,16,0c2.1,2.1,3.3,5,3.3,8v2.3l-17.8-0.2c0.3,1,0.9,1.9,1.7,2.7c2.7,2.7,7,2.7,9.7,0c0.9-0.9,2.3-0.9,3.2,0 \tc0.9,0.9,0.9,2.3,0,3.2C29.8,50.8,26.9,51.9,24,51.9z M30.5,38.3l-12.8-0.1c0.3-0.9,0.9-1.7,1.6-2.4c2.7-2.7,7-2.7,9.7,0 \tC29.6,36.5,30.1,37.4,30.5,38.3z M41.6,47.4l11.2-13.2c0.2,1.1,0.2,2.2,0.2,3.4c0,3.5-0.8,6.8-2.2,9.8H41.6z\"/> </svg>"
      }
    }
  }
}
